{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": "off",
    "object-curly-newline": "off",
    "no-restricted-globals": "off",
    "no-console": "off",
    "no-plusplus": "off",
    "class-methods-use-this": "off",
    "object-curly-spacing": "off"
  }
}